.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
}

.Job_word {
    font-weight: bold;
    color: red;
}

.prompts {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;

}

.search-button {
    padding: 10px;
    font-size: 16px;
}

.content-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

.results-container {
    width: 20%;
    text-align: left;
}

.results-container div {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    cursor: pointer;
}

.translation-containers {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
}

.english-version,
.other-language-version {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
}